    .logo {
        width: 300 px ;
        height: 400px;
    }
    
    img {
        width: 700px;
        height: 400px;
    }

    body {
        background-color: black;
    }

    * {
         margin: 0;
         padding: 0;
         box-sizing: border-box;
    }

    body{
        font-family: serif;
        color: aliceblue;
        background: linear-gradient(35deg, #126, #126);
    }

     .container{
        background-color: #000;
       max-width: 800px; 
       margin: 20px auto;
       padding: 20px;
       border-radius: 12px;
       box-shadow: 0 4px 12px rpba(0, 0, 0, 0.5);
    }

    .hearder{
       text-align: center;
       margin-bottom: 24px;
    }

    .hearder img{
        width: 50px;
        margin: 0%;
    }

    .hearder h1{
        font-size: 1,4rem;
        margin-top: -30px;
    }
    .feature-img{
        background-color: rgb(11, 14, 25);
    }
    .feature-img{
        margin: 20px 0;
    }

    .feature-img figure img{
        width: 100%;
    }

    
figcaption {
    text-align: center;
  }
  
  .biografia h2 {
    border-left: 5px solid #0510da;
    padding: 12px;
    margin: 20px auto;
    font-size: 1.8rem;
  }
  
  .biografia p {
    margin: 20px 0px;
  }

  .citacao {
    background-color: rgb(7, 7, 7);
    border-left: 6px solid #2727ae;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
  }

  .citacao blockquote{
    color: #2727ae;
    font-style: italic;
    font-size: 1.2rem;
  }
.citacao p {
    color: #2727ae;
    margin-top: 20px;
    font-size: 1rem;
    font-style: normal;
}
  .curiosidades{
    padding: 12px;
    margin: 20px auto;
    font-size: 1.4rem;
  }
  .curiosidades ul {
    list-style: square inside;
    padding-left: 20px;
  }
  .curiosidades li {
    margin: 6px 0;
    color: #b5b8bc;
  }

  footer {
    text-align: center;
  }
  footer h2 {
    padding: 12px;
    font-size: 1.8rem;
  }